@charset "utf-8";

#TestInput
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* for at message */
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #a9a9a9;
    position:absolute;
    top:6px;
}
* {
    padding: 0;
    margin: 0;
}

html{

    height: 100%;
}
body{
    height: 100%;
    min-width: 1000px;
    background: #ebf0f5;
    /*overflow: hidden;*/
    /*background-size: 100%;*/
}
.header, .box_hd, .LeftNav, .drag_area{
    -webkit-app-region: drag;    /* for pc client */
}
button, input, select, textarea, #message-content, #Messages /* for pc client */
{
    -webkit-app-region: no-drag;
}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
    margin: 0;
    padding: 0;
}

font {
    font-size: 12px;
}

/** 设置默认字体 **/
body,
button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-family:'Microsoft YaHei', sans-serif;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol {
    list-style: none;
}

/** 重置文本格式元素 **/
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

/* outline去除FF浏览器里的链接虚线 */
a:hover, a:link, a:visited, a:focus, a:active {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

/* 重置，减少对行高的影响 */
sub {
    vertical-align: text-bottom;
}

/** 重置表单元素 **/
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
    font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input::-ms-clear{display:none;}
/*
	------------Reset   End--------------
*/
.chatHeader{
    height: 50px;
    width: 100%;
    /*background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#ffffff));*/
    /*background: -webkit-linear-gradient(top, #000000 0%,#ffffff 100%);*/
    /*background: -o-linear-gradient(top, #000000 0%,#ffffff 100%);*/
    /*background: -ms-linear-gradient(top, #000000 0%,#ffffff 100%);*/
    background: linear-gradient(to right, #30c0da 0%,#40d4a3 100%);
    box-shadow: 0px 0px 10px #cbcbcb;
}
.chatHeaderMenu{

    height: 100%;

}
.chatHeaderMenu li{
    float: left;
    width: 160px;
    height: 100%;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
}
.chatHeaderMenu li.active{
    background: #1081bc;
}
/*.chatHeaderMenu li a{*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*width: 100%;*/

/*}*/






.chatContent{
    height: calc(100% - 50px);
    /*width: 340px;*/
    background: #ffffff;
    position: relative;
}

.chatContent .chatMenu{
    width: 336px;
    padding: 0px 2px;
    height: 70px;
    border-bottom: 1px solid #e6e6e6;
    /*background: paleturquoise;*/
    overflow: hidden;
}
.chatContent .chatMenu li{
    width: 112px;
    height: 70px;
    float: left;
}
.chatLeftIcon{
    background: url("img/chatLeftIcon.png") no-repeat;
}
.chatContent .chatMenu li:nth-child(1){
    /*background-color: palevioletred;*/
    background-position: 24px -48px;
}
.chatContent .chatMenu li:nth-child(2){
    background-position: -162px -46px;
}
.chatContent .chatMenu li:nth-child(3){
    background-position: -352px -45px;
    /*background-color: palevioletred;*/

}
.chatContent .chatMenu li:nth-child(1).active{
    background-position: 24px -111px;
}
.chatContent .chatMenu li:nth-child(2).active{
    background-position: -162px -112px;
}
.chatContent .chatMenu li:nth-child(3).active{
    background-position: -352px -110px;
}
.chatContent,.chatBoxOuter{
    float: left;
}
.chatBoxOuter{
    height: calc(100% - 50px);
    width: calc(100% - 340px);
    /*background: red;*/
}
.chatBox{
    height: calc(100% - 60px);
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 0px #e3e9f0;
    margin: 0px auto;
    margin-top: 30px;
    max-width: 1100px;
    min-width: 500px;
    border-radius: 10px;
}


.chatHide{
    display: none;
}
/*<!--消息-->*/
.footerPlus{
    height: 70px;
    border-top: 1px solid #e6e6e6;
    background-position: 143px -341px;
    position: absolute;
    /* border-top: 0px; */
    width: 100%;
    bottom: 0px;
}
.newsTabContent{
    height: calc(100% - 140px);
}
.groupChatList,.usualChatList,.newsChatList{
    height: 100%;
    width: 320px;
    overflow-y: auto;
    /*background: palegoldenrod;*/
    padding: 20px 10px 20px 10px;
}
.newsChatList{
    padding-top: 10px;
}
.groupChatListUl{
    /* height: 100%; */
    /* width: 100%; */
    /* overflow-y: auto; */
    padding: 13px 0px 35px 0px;
}
.groupChatListUl li{
    height: 60px;
    margin-right: 10px;
    border-radius: 10px;
    /*background: palegoldenrod;*/
    position: relative;
}
.groupChatListUl li.active{
    /* height: 60px; */
    /* margin-right: 10px; */
    /* border-radius: 10px; */
    background: #f0fdff;
    /* position: relative; */
    padding-left: 10px;
}
.groupChatListUl li div{
    position: relative;
    top: 10px;
}
.groupChatListUl li .groupImg{
    float: left;
    margin-left: 10px;
}
.groupChatList .triOpen,.usualChatList .triOpen{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-position: -37px -307px;
    /* background-color: palegreen; */
    margin-left: 10px;
}
.groupChatList .triClose,.usualChatList .triClose{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-position: -97px -304px;
    /* background-color: palegreen; */
    margin-left: 10px;
}
.groupChatList .discrib{
     display: inline-block;
    margin-left: 10px;
 }
.groupChatListUl li .groupName{
    display: inline-block;
    height: 44px;
    float: left;
    line-height: 44px;
    text-indent: 18px;
}
.operMenuList {
    position: absolute;
    height: 156px;
    width: 226px;
    bottom: 100px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 10px #f1f4f6;
    left: 56px;
    display: none;
    background: white;
}
.operMenuList ul{
    margin: 26px;
    /*background: palegoldenrod;*/
}
.operMenuList ul li{
   height: 25px;
    line-height: 25px;
    padding-left: 34px;
}
.operMenuList ul li:nth-child(1){
    background-position: -208px -212px;
}
.operMenuList ul li:nth-child(2){
    background-position: -206px -251px ;
    margin: 16px 0px;
}
.operMenuList ul li:nth-child(3){
    background-position: -206px -293px ;
}

/*组织*/
.orgnized{
    width: 340px;
    overflow: hidden;
    overflow-y: scroll;
}
.serachMenber{
    height: 70px;
    width: 340px;
    /*background: papayawhip;*/
    overflow: hidden;
}
.serachMenber .searchInput{
    height: 42px;
    width: 320px;
    background: #f5f5f5;
    margin: 24px 0px 0px 10px;
    /* margin-top: 24px; */
    border: none;

}
.serachMenber .searchInput .defaultText{
    display: block;
    margin: 0px auto;
    height: 42px;
    width: 100px;
    /* background: red; */
    text-indent: 40px;
    color: #333333;
    line-height: 42px;
    background-position: -397px -365px;
}
.organizationList{
    height: 100px;
    /*background: pink;*/
    margin: 20px 32px 0px 24px;
}
.organizationList ul li{

}
.organizationList li .groupImg{
    float: left;
    width: 32px;
    margin-top: 5px;
}
.organizationList li .groupName{
    display: inline-block;
    height: 44px;
    float: left;
    line-height: 44px;
    text-indent: 8px;
}
.organizationList li {
    height: 46px;
    /* margin-right: 10px; */
    border-radius: 10px;
    /* background: palegoldenrod; */
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.organizationList li div{
    position: relative;
    top: 4px;
}
.groupCollspanO{
    float: right;
    height: 20px;
    width: 20px;
    display: inline-block;
    /* background: red; */
    margin-top: 10px;
    background-position: -206px -339px;
}
.groupCollspanC{
    float: right;
    height: 20px;
    width: 20px;
    display: inline-block;
    /* background: red; */
    margin-top: 10px;
    background-position: -206px -373px;
}
.BreadcrumbsOuter{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #f0f0f0;
}

.seeOrgnizeTree{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: red;
    float: right;
    margin-top: 17px;
    margin-right: 60px;
    background-position: -532px -145px;
}
.BreadcrumbsOuter .Breadcrumbs{
    line-height: 60px;
    margin-left: 42px;
}
.BreadcrumbsOuter .Breadcrumbs li{
    float: left;
    color: #a9a9a9;
    /*line-height: 60px;*/
}
.BreadcrumbsOuter .Breadcrumbs li a{
    font-size: 16px;
    color: #30c0da;
}
.chatBox .orgNavClick1{
    margin: 38px 42px;
    overflow: hidden;
}
.chatBox .orgNavClick1 .orgNavTitle{
    display: block;
    font-size: 16px;
    margin-bottom: 44px;
    margin-top: 14px;
}
.chatBox .orgNavClick1>ul{
    width: 100%;
    overflow: hidden;
    line-height: 80px;
    margin-left: 22px;
}
.chatBox .orgNavClick1>ul>li{
    float: left;
    width: 33%;
    margin-bottom: 60px;
    overflow: hidden;
    position: relative;
    /*margin: 44px 0px 40px 0px;*/
}
.showPersonalInfo{
    margin-left: 58px;
    overflow: hidden;
    /*background: red;*/
    /*height: 100px;*/
    width: auto;
    margin-top: 20px;
}
.showPersonalInfo span{
    position: relative;
    top: -15px;
    left: 18px;
}
.showImgInfo,.showImgInfo{
    float: left;
}
.showImgInfo{
    display: inline-block;
    height: 80px;
    width: 80px;
    display: inline-block;
}
.personalOperaIcon{
    height: 30px;
    width: 130px;
    /*background: plum;*/
    position: absolute;
    top: 40px;
    padding-left: 18px;
}
.personalOperaIcon li,.selfImgOpera li{
    float: left;
    width: 34px;
    background-image: url("img/chatLeftIcon.png");
    height: 30px;
    line-height: 30px;
}
.sendMsg{
     background-position: -206px -209px;
 }
.checkPosition{
    background-position: -206px -248px;
}
.addConver{
    background-position: -206px -289px;
}

.orgNavClick2{
    height: 200px;width: 340px;
    /*background: paleturquoise;*/
    margin: 0px auto;
    margin-top: 52px;
}
.selfImgInfo img{
    margin-left:58px;
}
.selfImgInfo{
    overflow: hidden;
    padding-bottom: 52px;
    border-bottom: 1px solid #f0f0f0;
}
.selfImgInfo img,.selfImgInfo div{
    float: left;
}
.selfImgInfo div{
    margin-left:18px;
}
.selfImgInfo div .selfImgOpera{
    overflow: hidden;
}
.selfImgInfo div .selfImgOpera li{
    float: left;
}
.selfImgInfo div p{
    margin-top: 18px;
}
.selfImgOpera{
    margin-top: 10px;;
}
.showPersonalInfo ul li{
    overflow: hidden;
    margin:20px 0px;
}
.showPersonalInfo ul li div{
    float: left;
}
.showPersonalInfo ul li div:nth-child(1){
    width:73px;
    color: #808080;
}
.showPersonalInfo ul li div:nth-child(2){
    /*width:73px;*/
    color: #1a1a1a;
}
.orgNavClick3{
    /*height: 100%;*/
    width: 100%;
    /*background: palevioletred;*/
}












/*组织结构*/
/*.topOuter {*/
    /*height: 124px;*/
    /*width: 175px;*/
    /*background: white;*/
/*}*/

/*.outerVertical{*/
    /*width: 110px;*/
    /*height:225px;*/
    /*background: papayawhip;;*/
/*}*/
/*.outerHorizontal{*/
    /*height: 124px;*/
    /*width: 175px;*/
    /*background: palevioletred;*/
/*}*/

/*.innerHorizontal {*/
    /*height: 55px;*/
    /*border: 1px solid #30c0da;*/
    /*line-height: 55px;*/
    /*text-align: center;*/
/*}*/
/*.innerVertical {*/
    /*height: 175px;*/
    /*width:55px;*/
    /*border: 1px solid #30c0da;*/
    /*line-height: 55px;*/
    /*text-align: center;*/
/*}*/
/*.level1{*/
    /*overflow: hidden;*/
/*}*/
/*.level1 [level='1']{*/
    /*float: left;*/
/*}*/

/*.level2{*/
    /*overflow: hidden;*/
/*}*/
/*.level2 [level='2']{*/
    /*float: left;*/
/*}*/


/*.level3{*/
    /*overflow: hidden;*/
/*}*/
/*.level3 [level='3']{*/
    /*float: left;*/
/*}*/

/*.level4{*/
    /*overflow: hidden;*/
/*}*/
/*.level4 [level='4']{*/
    /*float: left;*/
/*}*/


.organizeListOuter>div{
    position: absolute;
    /*height: 30px;*/
    /*width: 50px;*/
}
.outerHorizontal{
    height:56px;
    background: pink;
    width:174px;
}
.outerVertical{
    height: 174px;
    width: 56px;
    background: papayawhip;
}
.organizeListOuter{
    position: relative;
}





















/*应用管理*/
.setting{
    height: 400px;
    width:100%;
    background: papayawhip;
}
/*弹窗*/
.WindowMask{
    height: 100%;
    width: 100%;
    position: absolute;top: 0px;left: 0px;
    background: rgba(0,0,0,0.5);
    display: none;
}
.myContextMenu{
    position: absolute;
    width: 96px;
    top: 500px;
    left: 500px;
    background: white;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 10px #f1f4f6;
}
.contextTri{
    position: absolute;
    height: 0px;
    width: 0px;
    border: 10px solid #f0f0f0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 10px;
}
.myContextMenu ul{
    margin-left:10px;
    /*background:paleturquoise;*/
}
.myContextMenu ul li{
    margin: 10px auto;
    /*line-height:;*/
}